.Home_Container {
  min-height: 88vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Left section */
.left_Container {
  flex: 1;
}

.left_Container > h1,
h2 {
  line-height: 1.5;
}

.highlight {
  color: #4f46e5;
}

.summary {
  line-height: 1.5;
  margin-bottom: 1.25rem;
  max-width: 750px;
}

/* Button Group */
.button_Group {
  margin-top: 1.56rem;
  display: flex;
  gap: 0.9rem;
}

.button_Group a {
  padding-inline: 1.25rem;
  padding-block: 0.625rem;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  background-color: #4f46e5;
  color: #f1f5d9;
  border-radius: 8px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.button_Group a:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.3);
}

/* Right Side Container */

.right_Container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_Container > img {
  width: auto;
  height: 50vh;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.3s ease;
  cursor: pointer;
}

.right_Container > img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.3);
}

/* Tablet Responsive */

@media (max-width: 1024px) {
  .Home_Container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .summary {
    margin: auto;
  }

  .button_Group {
    justify-content: center;
  }
}

/* Mobile Responsive */

@media (max-width: 600px) {
  .left_Container > h1 {
    font-size: 1.9rem;
  }

  .left_Container > h2 {
    font-size: 1.4rem;
  }

  .summary {
    font-size: 14px;
    padding: 0 10px;
  }

  .button_Group {
    flex-direction: column;
    align-items: center;
  }

  .button_Group a {
    width: 200px;
    justify-content: center;
  }

  .right_Container > img {
    width: 220px;
    height: 220px;
  }
}
