.Nav_Container {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav Logo */

.Nav_Logo {
  height: 100%;
  width: 15vw;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.Nav_Logo img {
  height: 80%;
  width: 100%;
  object-fit: contain;
}

/* Menu Icon */

.menu_icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

/* MOBILE NAVBAR */

@media (max-width: 768px) {
  .Nav_Container {
    height: 8vh;
  }

  .Nav_Logo {
    width: 40vw;
  }

  .menu_icon {
    display: block;
    z-index: 1100;
  }
}
