.Nav_Container {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav Logo */
.Nav_Logo {
  height: 100%;
  width: 15vw;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.Nav_Logo > img {
  height: 80%;
  width: 100%;
  object-fit: contain;
}

/* NAV LIST SECTION */
.Nav_list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.Nav_list a {
  text-decoration: none;
  color: #cfd8dc;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
}

.Nav_list a:hover {
  color: #00e5ff;
}

.active {
  color: #00e5ff;
  font-weight: 600;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #00e5ff;
  bottom: -4px;
  left: 0;
}
