.footer {
  padding-block: 2.5rem;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.socials a {
  color: #cfd8dc;
  transition: 0.3s ease;
}

.socials a:hover {
  color: #4f46e5;
  transform: scale(1.2);
}

.footer p {
  font-size: 0.9rem;
  color: #90a4ae;
}
