/* Contact Form */

.Contact_form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.Contact_form input,
.Contact_form textarea {
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #00e5ff;
  background: transparent;
  color: #fff;
  resize: none;
  overflow-y: auto;
  scrollbar-width: none;
}

.Contact_form textarea::-webkit-scrollbar {
  display: none;
}

.Contact_form input:focus,
.Contact_form textarea:focus {
  outline: none;
  border: 1px solid #00e5ff;
  box-shadow: 0 0 8px #00e5ff;
}

.Contact_form button {
  padding: 0.8rem;
  border: none;
  background: #00e5ff;
  color: black;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.Contact_form button:hover {
  background: #00bcd4;
}

/* responsive */
@media (max-width: 600px) {
  .Contact_form input,
  .Contact_form textarea {
    padding: 0.8rem;
    font-size: 0.9rem;
  }

  .Contact_form button {
    padding: 0.7rem;
    font-size: 0.9rem;
  }
}
