/* Layout */

.About_Section {
  display: flex;
  border-bottom: 1px solid #00e5ff;
  border-top: 1px solid #00e5ff;
  border-radius: 0.5rem;
  margin-block: 1rem;
  padding-block: 3.5rem;
  padding-inline: 1.5rem;
  gap: 40px;
}

/* Left */

.about_left_Container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

/* Heading */

.about_mainHeading {
  font-size: 42px;
  margin-bottom: 25px;
}

.about_mainHeading span {
  color: #4f46e5;
}

.about_summary {
  line-height: 1.6;
  margin-bottom: 1.25rem;
  max-width: 700px;
}

/* Right */

.about_right_Container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_right_Container img {
  width: 320px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.3s ease;
  cursor: pointer;
}

.about_right_Container img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 229, 255, 0.4);
}

/* Responsive */

@media (max-width: 1024px) {
  .About_Section {
    flex-direction: column;
    text-align: center;
  }

  .about_left_Container {
    align-items: center;
  }
}

@media (max-width: 600px) {
  .about_mainHeading {
    font-size: 30px;
  }

  .about_summary {
    font-size: 14px;
    padding: 0 10px;
  }

  .about_right_Container img {
    width: 220px;
  }
}
