/* Contact Section */

.Contact_Section {
  padding: 4rem 3rem;
  margin-block: 1rem;
  border-top: 1px solid #00e5ff;
  border-bottom: 1px solid #00e5ff;
  border-radius: 0.5rem;
}

.Contact_title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}

.Contact_desc {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 40px auto;
  color: #cbd5f5;
}

/* Contact Container */

.Contact_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tablet Responsive */

@media (max-width: 1024px) {
  .Contact_Section {
    padding: 3rem 2rem;
  }

  .Contact_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* Mobile Responsive */

@media (max-width: 600px) {
  .Contact_Section {
    padding: 2.5rem 1rem;
  }

  .Contact_title {
    font-size: 1.8rem;
  }

  .Contact_desc {
    font-size: 0.9rem;
    padding: 0 10px;
  }
}
